    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About ToyBox Security</h2>
              <br/>
                <p>ToyBox Security is a team based online multiplayer FPS with no guns, only traps. Play as a kid hired by ToyBox Security, Inc., a home security company ran entirely by kids, and set booby traps to defend the home from burglars while the owners are out of town. Or play as the robbers and steal everything that isn't nailed down while avoiding the kid's traps. </p>
                <br/>
              </div>
        </div>
    </section>
